<!DOCTYPE html>
<html>
<head>
	<title> Detalle </title>
</head>
<body>
{% block title %}Detail{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de autor </th>
<th> Tipo de investigacion </th>
<th> Archivo </th>
<th> Fecha de subida </th>
<th> Slug </th>

<tr>
<td>{{ object.autor }}</td>>
<td>{{ object.clase }}</td>>
<td>{{ object.archivo }}</td>>
<td>{{ object.fecha_subida }}</td>>
<td>{{ object.slug }}</td>>
</tr>

</table>

<input type="button" value="regresar" onclick="history.back()" />

{% endblock %}


</body>
</html>
