<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de investigaciones Ciencias Naturales{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de autor </th>
<th> Tipo de investigacion </th>
<th> Archivo </th>
<th> Fecha de subida </th>
<th> Slug </th>
<th> |</th>
<th>Actions</th>
<th> |</th>	


{% for investigacion in list_investigacion %} 
<tr>
<td>{{ investigacion.autor }}</td>>
<td>{{ investigacion.clase }}</td>>
<td>{{ investigacion.media }}</td>>
<td>{{ investigacion.fecha_subida }}</td>>
<td>{{ investigacion.slug }}</td>>
<td><a href="{% url 'detail' investigacion.id %}">detail</a></td>
<td><a href="{% url 'update' investigacion.id %}">update</a></td>
<td><a href="{% url 'delete' investigacion.id %}">delete</a></td>

</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
